<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFTRACKER</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="script" href="/script.js">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/f6dcf461c1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logo"><a href="index.html">NFT Tracker</a></div>
        <nav>
            <ul class="nav_links">
                <li><a href="C:\Users\gross\OneDrive\Desktop\NFTSalesProject\views\homepage.handlebars">Home</a></li>
                <li><a href="#">Favorites</a></li>
                <li><a href="#">Explore</a></li>
            </ul>
        </nav>
        <div class="login-signup">
            <a class="login" href="#"><button>Login</button></a>
            <a class="signup" href="#"><button>Sign Up</button></a>
        </div>
    </header>
    
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  
</body>

</html>
