
  {{#each user.favorites}}
    {{address}}
    {{token_id}}
  {{/each}}


<div class="container-md">1

    <div class="card" style="width: 18rem;">
        <img src="CryptoPunk" class="card-img-top" alt="nft">
        <div class="card-body">
        <p class="card-text">
          Token_id
        </p>
        </div>
    </div>


</div>