 <section class="tables">
        <table class="sales50" id="sales50">
            <div class="sales50title">
                <form action="/action_page.php">
                    <label for="collections">Collection:</label>
                    <select name="collections" id="collections">
                      <option id="cryptopunks" value="cryptopunks">CryptoPunks</option>
                      <option id="boredapeyachtclub" value="boredapeyachtclub">BAYC</option>
                      <option id="mutant-ape-yacht-club" value="mutant-ape-yacht-club">MAYC</option>
                      <option value="doodles-official">Doodles</option>
                      <option value="cryptoadz-by-gremplin">CrypToadz</option>
                      <option value="bearxlabs">BearXLabs</option>
                      <option value="divineanarchy">Divine Anarchy</option>
                      <option value="cool-cats-nft">Cool Cats</option>
                      <option value="kaiju-kingz">Kaiju Kingz</option>
                      <option value="twoplustwogenesis">2 + 2 Genesis</option>
                    </select>
                    <br><br>
                  </form>  
            </div>
        
            <thead>
                <tr>
                    <th class="icon">Icon</th>
                    <th class="token_id">Token ID</th>
                    <th class="price_eth">Price(ETH)</th>
                    <th class="price_usd">Price(USD)</th>
                     <th class="time">Time</th>
                </tr>
            </thead>
            <tbody id="recentsales"></tbody>
        </table>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/js/recentfifty.js"></script>
        <table class="trending-proj">
            <thead>
                 <tr>
                    <th class="icon">Icon</th>
                    <th class="token_id">Token ID</th>
                    <th class="price_eth">Price(ETH)</th>
                    <th class="price_usd">Price(USD)</th>
                    <th class="time">Time</th>
                </tr>
            </thead>
        </table>
    </section>